@use 'path/to/variables' as *;
@use 'path/to/mixins' as *;
@use 'path/to/media' as media;

.address-dashboard {
  .a-list {
    .address-box {
      height: 100%;
      border-radius: $border-radius-default;
      box-shadow: $box-shadow-secondary;
      @include mixins.transition();

      &:hover {
        background-color: $secondary-bg;
        @include mixins.transition();
      }

      .address-icon {
        width: 35px;
        height: 35px;

        @include media.breakpoint-up(lg) {
          width: 50px;
          height: 50px;
        }
      }

      .address-desc {
        @include mixins.text-ellipsis(2);
      }
    }
  }
}
