/* start wishlist dashboard styles */
.wishlist-dashboard {
  .w-list {
    .wishlist-box {
      height: 110px;
      max-height: 110px;
      position: relative;
      border-radius: var(--border-radius-default);
      box-shadow: var(--box-shadow-secondary);
      @include transition(all 0.3s ease); // Assuming transition is for all properties

      &:hover {
        background-color: var(--secondary-bg);
        @include transition(all 0.3s ease);
      }

      .remove-wishlist-box {
        position: absolute;
        top: -10px;
        right: -13px;
        z-index: 1;
      }

      .item-image {
        width: 110px;
        min-width: 110px;
        height: 110px;
        object-fit: cover;
        border-radius: var(--border-radius-default);
      }

      .price {
        color: var(--font-custom-color);
        font-weight: var(--font-weight-normal);
        font-size: var(--font-size-medium);
      }
    }
  }
}
/* end wishlist dashboard styles */

/* start add to wishlist styles */
.add-to-wishlist {
  .heart-icon {
    cursor: pointer;
    overflow: visible;
    width: 40px;
    height: 40px;

    #heart {
      transform-origin: center;
      animation: animateHeartOut 0.3s linear forwards;
    }
    #main-circ {
      transform-origin: 29.5px 29.5px;
    }
  }

  .input-checkbox {
    &:checked + label .heart-icon {
      #heart {
        transform: scale(0.2);
        fill: red;
        animation: animateHeart 0.3s linear forwards 0.25s;
      }
      #main-circ {
        transition: all 2s;
        animation: animateCircle 0.3s linear forwards;
        opacity: 1;
      }

      // Combined repeated styles for #grp1 - #grp7
      @for $i from 1 through 7 {
        #grp#{$i} {
          opacity: 1;
          transition: 0.1s all 0.3s;

          #oval1 {
            transform: scale(0) translate(30px, 15px);
            transform-origin: 0 0 0;
            transition: 0.5s transform 0.3s;
          }

          #oval2 {
            transform: scale(0) translate(40px, 50px);
            transform-origin: 0 0 0;
            transition: 1.5s transform 0.3s;
          }
        }
      }
    }
  }

  @keyframes animateCircle {
    40% {
      transform: scale(10);
      opacity: 1;
      fill: #dd4688;
    }
    55% {
      transform: scale(11);
      opacity: 1;
      fill: #d46abf;
    }
    65% {
      transform: scale(12);
      opacity: 1;
      fill: #cc8ef5;
    }
    75% {
      transform: scale(13);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.5;
    }
    85% {
      transform: scale(17);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.2;
    }
    95% {
      transform: scale(18);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0.1;
    }
    100% {
      transform: scale(19);
      opacity: 1;
      fill: transparent;
      stroke: #cc8ef5;
      stroke-width: 0;
    }
  }

  @keyframes animateHeart {
    0% {
      transform: scale(0.2);
    }
    40% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes animateHeartOut {
    0% {
      transform: scale(1.4);
    }
    100% {
      transform: scale(1);
    }
  }
}
/* end add to wishlist styles */
